<div id="page-wrapper">
  <header id="header" class="alt">
    <h1><a href="/">Affinity</a></h1>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  {% if page.primary_menu %}
    {{ page.primary_menu }}
  {% endif %}

  {% if page.secondary_menu %}
    {{ page.secondary_menu }}
  {% endif %}

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

  {% if page.highlighted %}
    {{ page.highlighted }}
  {% endif %}

  {% if page.help %}
    {{ page.help }}
  {% endif %}

  {% if page.featured %}
    <section id="banner">
      {{ page.featured }}
    </section>
  {% endif %}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {% if page.header %}
    {{ page.header }}
  {% endif %}

  <section id="wrapper"class="login-wrapper content-header">

    {{ page.content }}
  </section>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

  <section id="footer">
    {{ page.footer }}

    <div class="inner secondary">
      <ul class="copyright">
        <li>&copy; Affinity Coaching & Consulting. All rights reserved.</li><li>Design: <a href="http://steventrotter.com">Steven Trotter</a></li>
      </ul>
    </div>
  </section>

</div>{# /.layout-container #}
