<div id="page-wrapper">

  <header id="header" class="alt">
    <h1><a href="/">Affinity</a></h1>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  {% if page.primary_menu %}
    {{ page.primary_menu }}
  {% endif %}

  {% if page.secondary_menu %}
    {{ page.secondary_menu }}
  {% endif %}

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

  {% if page.highlighted %}
    {{ page.highlighted }}
  {% endif %}

  {% if page.help %}
    {{ page.help }}
  {% endif %}

  {% if page.featured %}
    <section id="banner">
      {{ page.featured }}
    </section>
  {% endif %}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <section id="wrapper">
    {{ page.content }}
  </section>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

  {% if page.footer %}
    <section id="footer" class="wrapper style5">
      {{ page.footer }}
    </section>
  {% endif %}

</div>{# /.layout-container #}
